<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mogra&family=Permanent+Marker&display=swap" rel="stylesheet">
    <title>Boas-Vindas</title>
       <script>
        tailwind.config = {
            theme: {
                extend: {
                    fontFamily: {
                        'mogra': ["Mogra", system-ui]
                    }
                }
            }
        }
    </script>
</head>
<body>
    <div class="">
    <div class="bg-[#007bff] p-10 shadow-lg flex justify-between items-center">
        <h1 class="text-white font-bold text-shadow-lg  text-2xl"> ---------- Bem vindo a escola SESI 025 Andradina ----------</h1>
         <nav class="flex justify-center gap-10">
             <a href="#" class="text-white font-bold hover:text-blue-200 hover:scale-110 transition-transform duration-300">Home</a>
             <a href="#" class="text-white font-bold hover:text-blue-200 hover:scale-110 transition-transform duration-300">Login</a>
             <a href="#" class="text-white font-bold hover:text-blue-200 hover:scale-110 transition-transform duration-300">Catálogo</a>
             </nav>
        
             <button onclick="location.reload()"class=" flex items-center text-white border rounded-lg px-2 py-2 shadow-lg "> Recarregar </button>
        </div>
    </div>
    <main class="">
        <img src="https://sesiac.org.br/images/2024/09/16/escola-sesi-001.jpg" alt="sesi" class="w-full h-90 ">
        <div>
        <img src="https://logodownload.org/wp-content/uploads/2016/10/sesi-logo-1.png" alt="sesi" class="w-100 mx-auto ">
        <h3 class="text-blue-500 font-semibold font-[mogra] text-center text-4xl mb-10">O QUE OFERECEMOS: </h3>
         <div class=" flex flex-wrap justify-center gap-4  ml-4 mb-10 ">
  <a href="#"
   class="group block bg-white rounded-xl shadow hover:shadow-lg transition overflow-hidden">
  <div>
    <img src="https://www.escolasesisc.com.br/wp-content/themes/escola-s/img/educacao-infantil/protagonistas/photo.webp" alt="" class="w-89 h-69 block">
  </div>
  <div class="p-4 ">
    <h3 class="text-lg font-semibold text-gray-800
               group-hover:text-blue-600 transition">
      Educação Infantil 
    </h3>
    <p class="text-gray-600">A primeira etapa da vida escolar, onde o <br>brincar e o aprender caminham juntos. <br>Aqui, a criança desenvolve sua autonomia, <br> imaginação e socialização.</p>
  </div>
  </a>
   <a href="#"
   class="group block bg-white rounded-xl shadow hover:shadow-lg transition overflow-hidden">
  <div>
    <img src="https://cronos-media.sesisenaisp.org.br//api/media/1-0/files?img=img_65_220204_c679685f-4045-497c-b43c-27db08f95f47_o.jpg" alt="" class="w-89 h-69 block">
  </div>
  <div class="p-4 ">
    <h3 class="text-lg font-semibold text-gray-800
               group-hover:text-blue-600 transition">
      Ensino Fundamental
    </h3>
    <p class="text-gray-600">Período essencial para o <br>aprendizado acadêmico e o crescimento <br> pessoal. É nessa fase que o aluno consolida <br>valores, conhecimentos e habilidades.</p>
  </div>
  </a>
  <a href="#"
   class="group block bg-white rounded-xl shadow hover:shadow-lg transition overflow-hidden">
  <div>
    <img src="https://static.portaldaindustria.com.br/portaldaindustria/noticias/media/imagem_plugin/edek.jpg" alt="" class="w-89 h-69 block">
  </div>
  <div class="p-4 ">
    <h3 class="text-lg font-semibold text-gray-800
               group-hover:text-blue-600 transition">
      Ensino Médio
    </h3>
    <p class="text-gray-600 mb-2">Etapa de amadurecimento e preparação para <br>o futuro. O estudante aprofunda saberes, <br>desenvolve senso crítico e se prepara para <br> novos desafios.</p>
  </div>
  </div>
        </div>
        <div class="bg-cover bg-center h-130 text-white flex items-center justify-center rounded-none bg-[url('https://vanderluiz.com.br/wp-content/uploads/2021/07/Sesi-Aluminio-650.jpg')]">
            <div class="bg-[rgba(0,0,0,0.5)] p-8 rounded-none w-[100vw] h-[71vh]">
        </div>
    </div>
    </div>
    <div>
        <div class="bg-gradient-to-b from-white to-blue-500 h-64 w-full">
 <a href="/admin/">Área administrativa</a>
        </div>
    </div>
   
    </main>
    <footer class="bg-blue-500 p-10 shadow-[0_4px_10px_#ec4899] flex justify-between items-center ">
        <div>
        <h2 class="text-center text-white gap-50">&copy; 2025 Aplicativo Escolar</h2>
        
             <button onclick="location.reload()"class=" flex items-center text-white border rounded-lg px-2 py-2 shadow-lg "> Recarregar </button>

    </footer>
</body>
</html>