<h1>Seja bem-vindo ao FinanSESI</h1>
<h3>Aprendendo programação e finanças!</h3>
<div class="composto">
    <a href="/juros_composto">
        <h1 class="titulo">JUROS COMPOSTO</h1>
        <img src="./img/juros_composto.png" alt="juros Composto">
    </a>
    <a href="/juros_simples">
        <h1 class="titulo">JUROS SIMPLES</h1>
        <img src="./img/juros_simples.png" alt="juros Simples">
    </a>
</div>