body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}
header{
    background-color: #007bff;
    color: white;
    padding: 15px;
    text-align: center;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
}

nav > a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

nav > a:hover{
    text-decoration: underline;
    font-weight: bold;
}

main {
    padding: 20px;
    flex: 1;
}

footer{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;

   
}

h2{
    text-align: center;
}

.dados-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 16px;
}

.dados-table > thead {
    background-color: #007bff;
    color: white;
}

.dados-table > th, .dados-table td {
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align: left;
    
    
}

.dados-table tr:nth-child(even){
    background-color: #f2f2f2;
    background-color: white;

}

.btn{
    padding: 8px 12px;
    margin-right: 5px;
    text-decoration: none;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}

.btn-principal {
    background-color: #007bff;

}

.btn-edit {
    background-color: #28a745;
   
}

.btn-delete {
    background-color: #dc3545;
    border: none;
}
.btn:hover {
    opacity: 0.8;
}

.btn-secundario {
    background-color: #6c757d;
}

.form{
    max-width: 600px;
    margin: 20px auto;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
}

.form-group{
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input , .form-group select {
    border: 1px solid #ddd;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    font-size: 16;
}

.form-group input:focus {
    border-color: #007bff;
}

.acoes {
    display: flex;
}
img{
    display: flex;
    width: 50px;
    justify-content: center;
}


.lista-cards {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card-aluno{
    background-color: #fff;
    width: 200px;
    border-radius: 16px;
    box-shadow: 0 2px 6px rgb(0, 0, 0);
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-aluno > img {
    width: 96px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover ;
}

.form-consulta > input, .form-consulta > select {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.form-consulta{
    display: flex;
    gap: 10px;
}